%p= link_to "Back", iteration_path(params[:id])
%div{:class => 'col-md-12'}
  = @curr_iter.name
  <br />

%h2 Edit Iteration "#{@curr_iter.name}":
= form_tag iteration_path(@curr_iter.id), :method => :put do
  %br
  .form-group
    = label :iteration, :name, 'Name: '
    = text_field :iteration, 'name', class: "form-control"
  %br
  = label :iteration, :start, 'Start Date: '
  = date_select :iteration, "start"
  %br
  = label :iteration, :end, 'End Date: '
  = date_select :iteration, :end
  %br
  %br 
  = submit_tag 'Save Iteration', :class => "btn btn-primary"
    
%br
= form_tag iteration_path(id: @curr_iter), :method => :delete do
  = submit_tag 'Delete Iteration', :class => "btn btn-primary"